# System files
.DS_Store
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.venv/
venv/

# Log files (but keep important logs)
*.log
*.out

# Temporary files
*.tmp

# Data files (optional: exclude if they're large or regenerated)
*.pkl
# *.pth


# Ignore all .txt files
*.txt

# But keep requirements.txt
!requirements.txt


# Specific files to exclude
slurm-*.out


.bash_history
.bashrc
.lesshst
.motd-day-counter
.profile
.python_history
.viminfo
.wget-hsts
*.png